{
  "env": {
    "node": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "parser": "flow"
      }
    ],
    "no-console": "off",
    "object-shorthand": "off",
    "no-return-await": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "req|res|next|val|err|token|Sequelize|sequelize|models"
      }
    ],
    "consistent-return": "off",
    "arrow-body-style": "off",
    "no-underscore-dangle": "off",
    "quotes": [
      "error",
      "single"
    ],
    "linebreak-style": "off",
    "no-dynamic-require": "off",
    "no-plusplus": "off",
    "no-await-in-loop": "off",
    "no-constant-condition": "off",
    "no-restricted-syntax": "off"
  }
}